@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --DesaturatedRed: rgb(206, 151, 151);
  --SoftRed: rgb(249, 98, 98);
  --DarkGrayishRed: rgb(65, 58, 58);
  --Gradient1: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 245, 245));
  --Gradient2: linear-gradient(135deg, rgb(248, 191, 191), rgb(238, 140, 140));
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@media screen and (min-width: 1024px) {
  main {
    display: block;
  }
}

.container {
  max-width: 375px;
  min-height: 100vh;
}
@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    max-width: 100%;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

.logo > img {
  display: block;
  margin: 2rem;
  width: 100px;
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 510px;
    justify-self: center;
  }
  .logo > img {
    margin: 0 2rem;
    width: 158px;
  }
}

.hero {
  background-image: url("../images/hero-mobile.jpg");
  max-width: 375px;
  height: 250px;
}
@media screen and (min-width: 1024px) {
  .hero {
    background-image: url("../images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1/span 2;
  }
}

.content {
  padding: 2rem;
  text-align: center;
}
.content h1 {
  font-size: 2.75rem;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
  margin-top: 34px;
  margin-bottom: 0.5rem;
}
.content h1 > span {
  display: block;
}
.content h1 > span:nth-of-type(1) {
  color: var(--DesaturatedRed);
  font-weight: 300;
}
.content h1 > span:nth-of-type(2) {
  color: var(--DarkGrayishRed);
  font-weight: 600;
}
.content p {
  color: var(--DesaturatedRed);
  font-size: 0.9rem;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.content .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--DesaturatedRed);
  border-radius: 999999px;
  height: 48px;
}
.content .form > input {
  background-color: transparent;
  color: var(--DarkGrayishRed);
  padding: 0 1.5rem;
  flex: 1;
  border: none;
  outline: none;
}
.content .form > input::placeholder {
  color: var(--DesaturatedRed);
}
.content .form > input::-webkit-input-placeholder {
  color: var(--DesaturatedRed);
}
.content .form > input::-moz-placeholder {
  color: var(--DesaturatedRed);
}
.content .form > input:-ms-input-placeholder {
  color: var(--DesaturatedRed);
}
.content .form > input:-moz-placeholder {
  color: var(--DesaturatedRed);
}
.content .form > img {
  display: none;
  padding: 0 0.5rem;
}
.content .form button {
  background-image: var(--Gradient2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  width: 64px;
  height: 46px;
  border: none;
  border-radius: 999999px;
  box-shadow: 0px 10px 30px -5px var(--DesaturatedRed);
  transition: background-image 0.5s linear;
}
.content .form button > img {
  display: block;
}
.content .form button:hover {
  transform: scale(1.125, 1.125);
}
@media screen and (min-width: 1024px) {
  .content {
    max-width: 510px;
    justify-self: center;
    text-align: left;
  }
  .content h1 {
    font-size: 5rem;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 0.5rem;
  }
  .content p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

#msg {
  display: block;
  padding: 0.5rem 1.5rem;
  color: var(--SoftRed);
  text-align: left;
}

.show {
  display: block !important;
}

.attribution {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
}
.attribution a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
